@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.links-footer {

  ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;

    @include respond-max(sm) {
      gap: 1rem;
    }

    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 15px;
        width: 1px;
        background-color: var(--button-link-text);
        left: -3rem;
        top: 50%;
        transform: translateY(-50%);

        @include respond-max(sm) {
          left: -0.5rem;
        }
      }

      &:first-child::before {
        content: none;
      }
    }
  }

  a.btn-link {
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--button-link-text);

    &::after {
      content: none !important;
    }

    &:hover {
      color: var(--button-link-text-hover);
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
}
