<div class="contact-minimal main-grid col-span-full md:col-span-12 md:col-start-1" scrollReveal>
  <div class="contact-minimal__content col-span-full md:col-span-12 md:col-start-1">
    <div class="contact-minimal__content--left col-span-6 col-start-1">
      @if (contactsTitle) {
        <h2 class="subtitle" [highlight]="'#FFFFFF'">{{ contactsTitle }}</h2>
      }
      @if (contacts && contacts.length > 0) {
        <div class="btn-group">
          @for (contact of contacts; track $index) {
            <a [href]="contact?.url" [linkType]="contact?.linkType" class="btn btn-link">
              {{ contact?.label }}
            </a>
          }
        </div>
      }
    </div>
    <div class="contact-minimal__content--right col-span-6 col-start-7">
      @if (socialsTitle) {
        <h2 class="subtitle" [highlight]="'#FFFFFF'">{{ socialsTitle }}</h2>
      }
      @if (socials && socials.length > 0) {
        <div class="btn-group">
          @for (social of socials; track $index) {
            <a [href]="social?.url" [linkType]="social?.linkType" class="btn btn-link">
              {{ social?.label }}
            </a>
          }
        </div>
      }
    </div>
  </div>
  @if (img) {
    <div class="contact-minimal__content--media col-span-full md:col-span-12 md:col-start-1">
      @if (img.publicId) {
        <ui-image [publicId]="img.publicId"></ui-image>
      } @else {
        <img
          [src]="img.url"
          [alt]="img.alt"
          loading="eager"
          fetchpriority="high"
          [attr.width]="img.width || 800"
          [attr.height]="img.height || 600"
        />
      }
    </div>
  }
</div>
