@use '../../../ui-lib/src/lib/styles/abstracts' as *;

:host {
  display: contents;
}

.contact-minimal {
  &__content {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    &--media {
      display: flex;
      position: absolute;
      top: 25rem;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        transform: rotate(45deg);
        width: 50rem;
      }

      @include respond-max(sm) {
        top: 16rem;
        left: 5rem;
        img {
          width: 15rem;
        }
      }
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }

  .btn {
    justify-content: start;
  }
}
