@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.contact-minimal {
  &__content {
    display: grid;
    grid-auto-flow: column;

    &--left {
      .btn {
        justify-content: start;
        font-size: 1.1rem;
      }
    }

    &--right {
      justify-self: end;
      .btn-group {
        align-items: end;
      }
      .btn {
        justify-content: end;
        font-size: 1.1rem;
      }
    }

    &--media {
      justify-self: center;

      img {
        transform: rotate(45deg);
        width: 50rem;
      }

      @include respond-max(sm) {
        top: 16rem;

        img {
          width: 15rem;
          height: auto;
        }
      }
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0;
  }
}
