@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.contact-minimal {
  &__content {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    &--media {
      width: 10rem;
      height: auto;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond-max(sm) {
        width: 8rem;
        top: 70%;
      }
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }

  .btn {
    justify-content: start;
  }
}
