@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.section-intro {
  text-align: start;
  align-items: start;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
}
