@use '../../../ui-lib/src/lib/styles/themes' as *;
@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.social-footer {
  text-align: center;

  &__slider-images {
    position: relative;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      flex: 0 0 auto;
      width: auto;

      img {
        display: block;
        border-radius: 0.75rem;
        width: 160px;
        height: auto;
        object-fit: cover;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--footer-arrows-bg);
      color: var(--footer-arrows);

      ui-icon,
      lucide-icon,
      svg {
        display: block;
        width: 18px;
        height: 18px;
      }

      &:hover {
        background: var(--footer-arrows-bg-hover);
        color: var(--footer-arrows-hover);
      }
    }

    .swiper-button-prev {
      left: 1rem;
    }

    .swiper-button-next {
      right: 1rem;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      content: none !important;
    }
    
  }

  &__bottom-section {
    gap: 1rem;
  }

  &__hashtag {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
  }

  &__socials {
    justify-content: right;
    display: flex;
    gap: 1.5rem;

    a {
      font-size: 1.25rem;
      color: var(--footer-text, #999);
      transition: color 0.3s ease;

      &:hover {
        color: var(--footer-link-hover, #000);
      }
    }
  }
}
