@use '../../../ui-lib/src/lib/styles/themes' as *;
@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.legal-footer {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);

  font-size: var(--font-size-base);
  background-color: var(--footer-bg);
  color: var(--footer-text);

  &__simple {
    color: var(--footer-text);
    &-credits {
      text-align: right;
    }

    @include respond-max(sm) {
      text-align: center;
      &-credits {
        text-align: center;
      }
    }
  }

  .legal-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: var(--footer-links);

      &:hover {
        color: var(--footer-links-hover);
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
      }
    }
  }
}
