<div class="stacked-rows main-grid col-span-full md:col-span-12 md:col-start-1" scrollReveal>
  <!-- INTRO -->
  <div class="stacked-rows__intro main-grid col-span-full">
    @if (title) {
      <h1 class="subtitle col-span-full md:col-span-3 md:col-start-1">
        {{ title }}
      </h1>
    }

    @if (text) {
      <p class="text col-span-full md:col-span-9 md:col-start-4">
        {{ text }}
      </p>
    }
  </div>

  <!-- ITEMS -->
  @if (items) {
    <div class="stacked-rows__items col-span-full">
      @for (item of items; track $index) {
        <div class="stacked-rows__items--item main-grid">
          <h2 class="stacked-rows__items--item_title col-span-full md:col-span-3 md:col-start-1">
            {{ item.title }}
          </h2>

          <p class="stacked-rows__items--item_text col-span-full md:col-span-7 md:col-start-6">
            {{ item.text }}
          </p>
        </div>
      }
    </div>
  }
</div>
