<div class="notfound">
  <div class="notfound__content">
    @if (title) {
      <h1 class="notfound__title">{{ title }}</h1>
    }

    @if (subtitle) {
      <h2 class="notfound__subtitle" [highlight]="'#FFFFFF'">{{ subtitle }}</h2>
    }

    @if (button) {
      <div class="btn-group">
        <a
          [href]="button.url"
          [linkType]="button.linkType"
          class="btn btn-primary btn-primary--outline"
        >
          <span>↗</span>
          {{ button.label }}
        </a>
      </div>
    }
  </div>

  @if (highlight) {
    <div class="notfound__highlight">
      {{ highlight }}
    </div>
  }
</div>
