@use '../../../ui-lib/src/lib/styles/themes' as *;
@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.visual-footer {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  gap: 2rem;
  background: var(--footer-bg);

  &__texts {
    gap: 2rem;

    .btn {
      padding: var(--spacing-sm) 0;
    }

    .btn-link {
      display: inline;
      width: fit-content;
    }

    .title {
      font-size: 1.5rem;
    }

    .text {
      font-weight: 300;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }

  &__contact,
  &__address,
  &__socials {
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
