@use '../../../ui-lib/src/lib/styles/abstracts' as *;

.header-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0px;
  position: fixed;
  top: 0;
  z-index: 100;
  // background-color: var(--header-mobile-bg);
  width: 100vw;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--header-logo-text);

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
  }
}

.header-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--header-mobile-bg);
  z-index: 100;
  box-sizing: border-box;
}

.header-actions .center {
  margin: 0 auto;
}

.lang {
  text-transform: uppercase;
}
