<div class="columns-footer main-grid col-span-full sm:col-span-12 sm:col-start-1">
  @if (column1Item) {
    <div class="columns-footer__one col-span-full sm:col-span-4 sm:col-start-1">
      @if (column1Item.title) {
        <h4 class="columns-footer__one-title">
          {{ column1Item.title }}
        </h4>
      }
      @if (column1Item.items && column1Item.items.length > 0) {
        <ul class="columns-footer__one-list">
          @for (item of column1Item.items; track $index) {
            <li class="columns-footer__one-item">
              <a [href]="item.url" [linkType]="item.linkType">{{ item.label }}</a>
            </li>
          }
        </ul>
      }
    </div>
  }
  @if (column2Item) {
    <div class="columns-footer__two col-span-full sm:col-span-4 sm:col-start-5">
      @if (column2Item.title) {
        <h4 class="columns-footer__one-title">
          {{ column2Item.title }}
        </h4>
      }
      @if (column2Item.items && column2Item.items.length > 0) {
        <ul class="columns-footer__one-list">
          @for (item of column2Item.items; track $index) {
            <li class="columns-footer__one-item">
              <a [href]="item.url" [linkType]="item.linkType">{{ item.label }}</a>
            </li>
          }
        </ul>
      }
    </div>
  }
  @if (column3Item) {
    <div class="columns-footer__three col-span-full sm:col-span-4 sm:col-start-9">
      @if (column3Item.title) {
        <h4 class="columns-footer__one-title">
          {{ column3Item.title }}
        </h4>
      }
      @if (column3Item.items && column3Item.items.length > 0) {
        <ul class="columns-footer__one-list">
          @for (item of column3Item.items; track $index) {
            <li class="columns-footer__one-item">
              <a [href]="item.url" [linkType]="item.linkType">{{ item.label }}</a>
            </li>
          }
        </ul>
      }
    </div>
  }
</div>
<div class="columns-footer__copyright col-span-full sm:col-span-12 sm:col-start-1">
  @if (copyright) {
    <div class="columns-footer__copyright-text">
     <span>{{ copyright.year }}</span>
     <span>{{ copyright.name }}</span>
     <span>{{ copyright.rights }}</span>
    </div>
  }
</div>
