:host { display: contents }

.hero-section {
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  // padding: 2rem;
  min-height: calc(100vh - 10rem);
  align-content: center;
}

.text,
.btn-link {
  font-size: 1.3rem;
  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.title {
  font-size: 4rem;
  font-family: var(--font-title-home);
  font-weight: 200;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.85;
  @media (max-width: 768px) {
    font-size: 3rem;
  }

  .highlight-text {
    font-size: 11.25rem;
    cursor: help;
    display: block;
    position: relative;
    z-index: 99;
    width: fit-content;
    @media (max-width: 768px) {
      font-size: 8.25rem;
    }

    .wave-wrapper {
      position: absolute;
      top: 85%;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: -1;
      @media (max-width: 768px) {
        top: 90%;
      }
    }

    .wave {
      position: absolute;
      background-image: url('../../../ui-lib/src/lib/assets/svg/wave-light.svg');
      background-repeat: repeat-x;
      background-position-x: 0;
      background-position-y: 0;
      top: -1.2rem;
      opacity: 0.5;
      width: 100%;
      height: 50%;
      @media (max-width: 768px) {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:hover .wave {
      animation: moveWave 5s infinite linear;
    }
  }

  // Responsive breakpoint para hacer salto de línea
  @media (max-width: 768px) {
    .highlight-text {
      display: block;
      margin-top: 0.5rem;
    }
  }
}

@keyframes moveWave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
