<div class="hero-section">
  @if (pretitle) {
    <h2 class="pretitle">{{ pretitle }}</h2>
  }
  @if (title) {
    <h1 class="title">
      @if (highlight && title.includes(highlight)) {
        {{ title.replace(highlight, '') }}
        <span class="highlight-text">
          {{ highlight }}
          <div class="wave-wrapper">
            <div class="wave"></div>
          </div>
        </span>
      } @else {
        {{ title }}
      }
    </h1>
  }
  @if (subtitle) {
    <h2 class="subtitle">{{ subtitle }}</h2>
  }
  @if (text) {
    <p class="text">{{ text }}</p>
  }
  @if (buttons && buttons.length > 0) {
    <div class="btn-group--center">
      @for (button of buttons; track $index) {
        <a class="btn btn-link" [href]="button.url" [linkType]="button.linkType">
          <span>{{ button.icon }}</span>
          {{ button.label }}
        </a>
      }
    </div>
  }
</div>
