<div class="category-progress layout-padding" scrollReveal>
  @if (pretitle) {
    <h3 class="pretitle">{{ pretitle }}</h3>
  }
  @if (title) {
    <h2 class="title">{{ title }}</h2>
  }
  <div class="progress-grid">
    @for (category of categories; track $index) {
      <div class="category">
        <h3 class="subtitle" [highlight]="'#FFFFFF'">{{ category.title }}</h3>

        @for (item of category.items; track $index) {
          <div class="item">
            <div class="item-info">
              <span class="label">{{ item.label }}</span>
              <span class="value">{{ item.value }}%</span>
            </div>

            <div class="bar">
              <div class="fill" [style.width.%]="item.value"></div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
