.header-clear {
  border-radius: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-block: 0;
  margin-top: 1rem;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
  background: var(--header-bg);

  &.is-scrolled {
    background: var(--header-bg-fixed-dark);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    .header-logo {
      a {
        padding-inline: 1.5rem;
      }
      span {
        color: var(--header-logo-text-dark);
      }
    }

    .header-actions {
      padding-inline: 1.5rem;
      .btn-header {
        background: var(--header-bg-fixed-light);
      }
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--header-logo-text);

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: left;
  }

  span {
    display: flex;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.lang {
  text-transform: uppercase;
}
